/* Body */

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    font-family: 'Philosopher', sans-serif;
}

/* Navbar */

.navbar {
    background-color: #2f5371;
}

.social-icons {
    color: #FFFFFF;
}

.navbar-toggler {
    color: #FFFFFF;
    border: solid 1.5px #FFFFFF;
    margin-right: 2%;
}

.nav-text {
    margin: 0% 2% 0% 2%;
}

#nav-heading {
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
}

.nav-link {
    color: #FFFFFF;
    text-transform: uppercase;
}

/* Footer */
/* Followed guide on implementing footer in the book 'Responsive Web Design with HTML and CSS by Ben Frain' pages 103/104. */

#social-links-bar {
    margin-top: auto;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    background-color: #2f5371;
    height: 48px;
    font-size: 24px;
}

#social-links-bar a {
    color: #FFFFFF;
    margin: 2%;
}

/* Page Headings */
/* I used the website https://www.flexboxfroggy.com for a guide on flexbox */

.page-heading img {
    display: block;
    margin: 2% auto 0 auto;
    width: 220px;
    height: 220px;
}

.page-heading h1, h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 4% 0 2% 0;
}

.page-heading h1 {
    font-size: 220%;
}

.page-heading h2 {
    font-size: 150%;
}

.page-heading {
    width: auto;
    margin: 0 3% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Page text */

.page-text {
    text-align: center;
}

.page-text {
    margin: auto;
    width: 90%;
    padding: 3%;
    background-color: #2f5371;
    color: #FFFFFF;
    border-radius: 40px;
}

/* Page Cards */

.queen-cards {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.card {
    background-color: #2f5371;
    color: #FFFFFF;
    text-align: center;
    border: #FFFFFF;
    border-radius: 40px;
}

.card img {
    border-bottom: #FFFFFF 2px solid;
}

.card a {
    background-color: #2f5371;
    color: #FFFFFF;
    border: 2px #FFFFFF solid;
}

.card a:hover {
    background-color: #FFFFFF;
    color: #2f5371;
    border: #2f5371 2px solid;
}

/* Carousels */

.carousel {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Media Queries */
/* Used the book 'Responsive Web Design with HTML and CSS by Ben Frain' pages 60/61 for a guide on implementing media queries. */
@media (min-width: 767px) {
    .queen-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

     .card {
        margin: 1rem;
     }

     .carousel {
        width: 85%;
     }
}

@media (min-width: 1100px) {
    .page-heading h1 {
        display: none;
    }

    .page-heading h2 {
        font-size: 220%;
        margin: 1% 0 1% 0;
    }

    .page-heading {
        margin-bottom: 1%;
    }

    .page-text {
        margin: auto;
        padding: 1%;
        width: 50%;
    }

    .carousel {
        width: 800px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 1100px) {
    .page-heading img {
        display: none;
    }
}